<!-- templates/bigwavesurfing.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>{{ page_heading }}</h1>
        <p>{{ page_content }}</p>
    </div>
  </div>
<p><img src="{% static 'images/1.png' %}" alt="Nazaré, Portugal"></p>
<p><img src="{% static 'images/2.png' %}" alt="Nazaré, Portugal"></p>
<p><img src="{% static 'images/3.png' %}" alt="Nazaré, Portugal"></p>
<p><img src="{% static 'images/4.png' %}" alt="Nazaré, Portugal"></p>
<p><img src="{% static 'images/5.png' %}" alt="Nazaré, Portugal"></p>
<p><img src="{% static 'images/6.png' %}" alt="Nazaré, Portugal"></p>
<p><img src="{% static 'images/7.png' %}" alt="Nazaré, Portugal"></p>
<p><img src="{% static 'images/8.png' %}" alt="Nazaré, Portugal"></p>
<p><img src="{% static 'images/django-logo-min.png' %}" alt="Django Logo"></p>


{% endblock %}