<!-- templates/bigwavesurfing.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>{{ page_heading|safe }}</h1>
        <p>{{ page_content|safe }}</p>
    </div>
  </div>


<!DOCTYPE html>
<html>
<body>
   <style>
    .column {
      flex: 100.00%;
      padding: 5px;
    }
    </style>

    <div class="row">
      <div class="column">
        <img src="{% static 'images/1.png' %}" alt="Nazaré, Portugal" style="width:100%">
      </div>
      <div class="column">
        <img src="{% static 'images/2.png' %}" alt="Nazaré, Portugal" style="width:100%">
      </div>
      <div class="column">
        <img src="{% static 'images/3.png' %}" alt="Nazaré, Portugal" style="width:100%">
      </div>
      <div class="column">
        <img src="{% static 'images/4.png' %}" alt="Nazaré, Portugal" style="width:100%">
      </div>
      <div class="column">
        <img src="{% static 'images/5.png' %}" alt="Nazaré, Portugal" style="width:100%">
      </div>
      <div class="column">
        <img src="{% static 'images/6.png' %}" alt="Nazaré, Portugal" style="width:100%">
      </div>
      <div class="column">
        <img src="{% static 'images/7.png' %}" alt="Nazaré, Portugal" style="width:100%">
      </div>

      
      
   
  <p><img src="{% static 'images/django-logo-min.png' %}" alt="Django Logo">
      </p>
  </body>
  </html>

 {% endblock %}