<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>{{ page_heading|safe }}</h1>
        <p>{{ page_content|safe }}</p>
    </div>
</div>

<!DOCTYPE html>
<html>
<body>
  <p>Praia do Norte Lighthouse in Nazaré Portugal, where giant waves are formed due to a submarine canyon called the "Nazaré Canyon".  It is the largest underwater canyon in Europe and is about 230 kilometers (140 miles) long with a depth of approximately 5,000 metres (16,000 ft).</p>

  <style>
  .column {
    flex: 50.00%;
    padding: 5px;
  }
  </style>
  
  <div class="row">
    <div class="column">
      <img src="{% static 'images/Praia do Norte Lighthouse.jpg' %}" alt="Nazaré, Portugal" style="width:100%">
    </div>
    <div class="column">
      <img src="{% static 'images/4994.png' %}" alt="Nazaré, Portugal" style="width:100%">
    </div>
</body>
</html>
<p><img src="{% static 'images/django-logo-min.png' %}" alt="Django Logo">
</p>
<p></p>
<p><a id="3rd">  &ast;</a> https://www.jobsinsports.com/blog/2023/06/19/what-is-the-most-dangerous-sport/</p>



{% endblock %}