<!-- templates/location.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>{{ page_heading }}</h1>
        <p>{{ page_content }}</p>
    </div>
</div>
<!DOCTYPE html>
<html>
<body>


  <p><img src="{% static 'images/Big Wave Locations.png' %}" alt="Big Wave Locations" width="1200" height="600"></p>

  <html>
  <style>
  table, th, td {
    border:2px solid black;
  }
  </style>
  <body>

  <h2>LOCATIONS</h2>

  <table style="width:100%">
    <tr>
      <th>Beach</th>
      <th>Closest Location</th>
      <th>For more information:</th>
 
    
    <tr>
      <td>Praia do Norte</td>
      <td>Nazaré, Portugal </td>
      <td>https://www.surfertoday.com/surfing/things-you-didnt-know-about-nazare</td>
    </tr>
    <tr>
      <td>Jaws/Peahi</td>
     <td>North Maui, HI</td>
     <td>https://www.surfertoday.com/surfing/jaws-interesting-facts-about-maui-big-wave-surfing-break</td>
    </tr>
    <tr>
      <td>Shipstern Bluff</td>
      <td>Tasmania, Australia</td>
      <td>https://www.surfertoday.com/surfing/the-mechanics-of-shipstern-bluff</td>
    </tr>
    <tr>
      <td>Puerto Escondido/Playa Zicatela</td>
      <td>Oaxaca, Mexico</td>
      <td>https://www.surfertoday.com/surfing/how-to-surf-puerto-escondido</td>
      </tr>
      <tr>
        <td>Punta de Lobos</td>
        <td>Pichilemu, Chile</td>
        <td>https://www.surfertoday.com/surfing/punta-de-lobos-the-iconic-chilean-big-wave</td>
      </tr>
      <tr>
        <td>Pico Alto</td>
        <td>Punta Hermosa, Peru</td>
        <td>https://www.surfertoday.com/surfing/pico-alto-the-queen-of-all-peruvian-big-waves</td>
      </tr>
      <tr>
        <td>Punta Galea</td>
        <td>Biscay, Basque Country (Spain) (</td>
        <td>https://www.surfertoday.com/surfing/punta-galea-the-beast-wave-of-the-basque-country</td>
      </tr>
      <tr>
        <td>Dungeons</td>
        <td>Cape Town, South Africa</td>
        <td>https://www.surfertoday.com/surfing/dungeons-the-wild-and-ruthless-south-african-wave</td>
      </tr>
      <tr>
        <td>Nelscott Reef</td>
        <td>Lincoln City, Oregon</td>
        <td>https://www.surfertoday.com/surfing/nelscott-reef-the-ultimate-big-wave-of-the-oregon-coast</td>
      </tr>
      <tr>
        <td>Killers/Todos Santos</td>
        <td>Baja California, Mexico</td>
        <td>https://www.surfertoday.com/surfing/killers-todos-santos-the-quintessential-mexican-wave</td>
      </tr>
      <tr>
        <td>Belharra</td>
        <td>La Côte Basque, France</td>
        <td>https://www.surfertoday.com/surfing/belharra-the-magnificent-french-outer-reef-break</td>
      </tr>
      <tr>
        <td>Mullaghmore Head</td>
        <td>Donegal Bay, Ireland</td>
        <td>https://www.surfertoday.com/surfing/mullaghmore-head-the-irish-mutant-wave</td>
      </tr>
      <tr>
        <td>Aileen's</td>
        <td>Cliffs of Moher, Ireland</td>
        <td>https://www.surfertoday.com/surfing/aileens-the-treacherous-slab-wave-of-the-cliffs-of-moher</td>
     </tr>
     <tr>
       <td>Banzai Pipeline</td>
       <td>O'ahu (North Shore), HI</td>
       <td>https://www.surfertoday.com/surfing/why-is-banzai-pipeline-the-ultimate-surfing-wave</td>
     </tr>
    <tr>
      <td>Waimea Bay</td>
      <td>O'ahu (North Shore), HI</td>
      <td>https://www.surfertoday.com/surfing/waimea-bay-the-birthplace-of-big-wave-surfing</td>
    </tr>
    <tr>
      <td>Cloudbreak</td>
      <td>Namotu Island, Fiji</td>
      <td>https://www.surfertoday.com/surfing/cloudbreak-the-secrets-of-fijis-dream-wave</td>
    </tr>
    <tr>
      <td>Cortes Bank</td>
      <td>San Diego, California</td>
      <td>https://www.surfertoday.com/surfing/the-mechanics-and-history-of-cortes-bank</td>
    </tr>
    <tr>
      <td>Mavericks</td>
      <td>Half Moon Bay, California</td>
      <td>https://www.surfertoday.com/surfing/mavericks-interesting-facts-about-californias-big-wave-spot</td>
    </tr>
    <tr>
      <td>Teahupoo</td>
      <td>Tahiti, French Polynesia</td>
      <td>https://www.surfertoday.com/surfing/things-you-didnt-know-about-teahupoo</td>
    </tr>
    <tr>
      <td>Ghost Tree/Pescadero Point</td>
      <td>Pescadero Point, California</td>
      <td>https://www.surfertoday.com/surfing/ghost-tree-the-legendary-wave-that-haunts-pescadero-point</td>
    </tr>
    <tr>
      <td>Velzyland</td>
      <td>O'ahu (North Shore), HI</td>
      <td>https://www.surfline.com/surf-news/spot-check-velzyland/40334</td>
    </tr>
    <tr>
      <td>Log Cabins</td>
      <td>O'ahu (North Shore), HI</td>
      <td>https://www.surf-forecast.com/breaks/Log-Cabins</td>
    </tr>
    <tr>
      <td>The Wedge</td>
      <td>Newport Beach, CA</td>
      <td>https://www.surfertoday.com/surfing/how-to-surf-and-survive-the-wedge</td>
    </tr>
    <tr>
      <td>Cow Bombie|Cowaramup Bombora</td>
      <td>Gracetwon, Australia</td>
      <td>https://www.surf-forecast.com/breaks/Cow-Bombie</td>
    </tr>
    <tr>
      <td>Cape Fear|Ours</td>
      <td>Sydney, Australia</td>
      <td>https://www.surfertoday.com/surfing/challenging-fear-at-sydneys-premium-slab</td>
    </tr>
    <tr>
      <td>The Right</td>
      <td>Walpole, Australia</td>
      <td>https://www.surfertoday.com/surfing/the-right-the-monster-western-australia-wave</td>
    </tr>
    <tr>
      <td>Pedra Branca</td>
      <td>Island 16 miles (26 kilometers) southeast of Tasmania's South East Cape, Australia</td>
      <td>https://www.surfertoday.com/surfing/pedra-branca-the-cold-and-barbaric-tasmanian-wave</td>
    </tr>
    <tr>
      <td>The Cribbar Reef</td>
      <td>Newquay, Cornwall, England, United Kingdom</td>
      <td>https://www.surfertoday.com/surfing/the-cribbar-the-merciless-english-widowmaker-wave</td>
    </tr>
    <tr>
      <td>El Buey</td>
      <td>Atacama, Chile</td>
      <td>https://www.surfertoday.com/surfing/el-buey-the-big-wave-surfing-haven-of-arica</td>
    </tr>
    <tr>
      <td>Playa Gris|Roca Puta</td>
      <td>Pais Vasco, Spain</td>
      <td>https://www.surf-forecast.com/breaks/Roca-Puta</td>
    </tr>
    <tr>
      <td>Papatowai</td>
      <td>Papatowai, New Zealand</td>
<td>https://surfseeker.nz/surf_breaks/southland/papatowai</td>
    </tr>
    <tr>
      <td>Laje da Besta</td>
      <td>Rio de Janeiro, Brazil</td>
      <td>https://www.surfertoday.com/surfing/laje-da-besta-the-ferocious-rio-de-janeiro-wave</td>
    </tr>
    <tr>
      <td>Laje do Shock</td>
      <td>Rio de Janeiro, Brazil</td>
      <td>https://www.surfertoday.com/bodyboarding/laje-do-shock-the-death-defying-rio-de-janeiro-slab-wave</td>
    </tr>
    <tr>
      <td>Laje da Avalanche</td>
      <td>Espírito Santo, Brazil</td>
      <td>https://www.surfertoday.com/surfing/avalanche-the-brazilian-mutant-slab-wave</td>
    </tr>
   
    </table>
  
</body>
</html>

<p><img src="{% static 'images/django-logo-min.png' %}" alt="Django Logo"></p>

{% endblock %}